{% extends 'base.html' %}
{% block main_content %}

<div>
    </br>
    <a href="/status">status page</a>
    </br>
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Enter a YouTube url</h1>
        <label for="inputEmail" class="sr-only">YouTube url</label>
        <input type="text" name="url" id="url" class="form-control" placeholder="YouTube url" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add to queue</button>
    </form>
    </br>
    {% for download in downloads %}
    </hr>
    <div>
        <h3>{{ download['title'] }}</h3>
        </br>
        <p>{{ download['status'] }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}