{% extends 'base.html' %}

{% block main_content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">yt-to-plex</a>

    <form class="form-inline my-2 my-lg-0" action="/download" method="post">
        <input class="form-control mr-sm-2" type="text" name="url" id="url" placeholder="YouTube URL"
            aria-label="YouTube URL">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Add to queue</button>
    </form>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Downloads</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for download in downloads %}
            <div class="col mb-4">
            <div class="card">
                <img src="{{ download['thumbnain_url'] }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ download['title'] }}</h5>
                <p class="card-text">status - {{ download['status'] }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">filesize - {{ download['file_size'] }}</small>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <hr/>

    <div class="starter-template">
        <h1>Uploads</h1>
        <div class="row row-cols-1 row-cols-md-3">
            {% for upload in uploads %}
            <div class="col mb-4">
            <div class="card">
                <img src="{{ upload['thumbnain_url'] }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ upload['title'] }}</h5>
                <p class="card-text">status - {{ upload['status'] }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">filesize - {{ upload['file_size'] }}</small>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main><!-- /.container -->
{% endblock %}